* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: #fff;
}
html,
body {
    height: 100%;
    width: 100%;
}

.nav2{
  display : flex;
  align-items: center;
  justify-content: center;
  gap : 30px
}

.light{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding : 10px 12px;
  background-color: aqua;
}

.dark{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding : 10px 12px;
  background-color: blue;
}